@charset "utf-8";

*       {box-sizing: border-box;}
body    {font-family: 'Noto Sans Korean', sans-serif;font-size:16px;color: #3f4f5f;}
a       {color:#0a53be;text-decoration: none;}
a:hover,a:focus {text-decoration:none;outline:none;}
a:hover {text-decoration: underline;}
ul, li {vertical-align:middle;}

.clearfix:after {content:'';display:block;height:0;clear:both;}

.color1  {background:#80bc25;}
.color2  {background:#60970c;}
.color3  {background:#457200;}
.color11 {background:#018cf4;}
.color22 {background:#006ab9;}
.color33 {background:#005390;}
.color44 {background:#00487c;}

/* common */
.row {display:flex;margin-left:-10px;margin-right:-10px;}
.row:after {content:'';display:block;height:0;clear:both;}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12 {float:left;padding-left:10px;padding-right:10px;}
.col-1 {width: 8.3333333333%;}
.col-2 {width: 16.6666666667%;}
.col-3 {width: 25%;}
.col-4 {width: 33.3333333333%;}
.col-5 {width: 41.6666666667%;}
.col-6 {width: 50%;}
.col-7 {width: 58.3333333333%;}
.col-8 {width: 66.6666666667%;}
.col-9 {width: 75%;}
.col-10 {width: 83.3333333333%;}
.col-11 {width: 91.6666666667%;}
.col-12 {width: 100%;}


/* text */
.text-navy      {color: #005596 !important;}
.text-primary   {color: inherit !important;}
.text-success   {color: #1c84c6 !important;}
.text-info      {color: #23c6c8 !important;}
.text-warning   {color: #f8ac59 !important;}
.text-danger    {color: #ED5565 !important;}
.text-muted     {color: #888888 !important;}
.text-white     {color: #ffffff;}

.text-left      {text-align:left !important;}
.text-center    {text-align:center !important;}
.text-right     {text-align:right !important;}
.text-small     {font-size:.8em;}

.badge {
    background-color: #D1DADE;
    color: #5E5E5E;
    font-family: 'Noto Sans Korean', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size:.9em;
    display:inline-flex;
    align-items:center;
    justify-content: center;
    padding:3px 10px;
    text-shadow: none;
    white-space: nowrap;
    border-radius:100px;
}
.label-primary,.badge-primary {background-color: #005596;color: #FFFFFF;}
.label-success,.badge-success {background-color: #1c84c6;color: #FFFFFF;}
.label-warning,.badge-warning {background-color: #f8ac59;color: #FFFFFF;}
.label-warning-light,.badge-warning-light {background-color: #f8ac59;color: #ffffff;}
.label-danger,.badge-danger {background-color: #ED5565;color: #FFFFFF;}
.label-info,.badge-info {background-color: #23c6c8;color: #FFFFFF;}
.label-inverse,.badge-inverse {background-color: #262626;color: #FFFFFF;}
.label-white,.badge-white {background-color: #FFFFFF;color: #5E5E5E;}
.label-white,.badge-disable {background-color: #ddd;color: #888;}

.form-control {
    font-family: 'Noto Sans Korean', sans-serif;
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: inherit;
    display: block;
    font-size:1rem;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    min-height:40px;
    line-height:1.5;
}

.form-group {display:flex;flex-wrap:wrap;align-items:center;margin:10px 0;}
.control-label {text-align:right;padding-right:0;}
.control-label:after {content:':';margin-left:5px;}
.calendar {position:relative;}
.calendar a {position:absolute;right:20px;top:10px;}
.input-btn,.input-price,.input-double {display:flex;align-items:center;justify-content:space-between;}
.input-btn button {flex:0 0 50px;margin-left:5px;}
.input-price span {flex:0 0 50px;margin-left:5px;text-align:center;}
.form-group select {margin-bottom:5px;}
.form-group select:last-child {margin-bottom:0;}
